/* General css */
body{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

main{
    width: 100%;
}
main .container{
    max-width: 1000px;
    width: 100%;
}

footer{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 10rem;
}

a{
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
}

p{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    margin: 0;
}

h1{
    font-family: 'Muli', sans-serif;
    font-size: 2.5rem;
    margin: 0;
}

h2{
    font-family: 'Muli', sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

button{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
}

input{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    height: 1.625rem;
}

.space{
    margin: 1rem 0;
}

.button{
    text-decoration: none;
    color: rgb(30, 30, 30);
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    text-decoration: underline;
}

.button:active{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
}

.hidden{
    display: none;
}

.timestamp{
    color: rgb(140, 140, 140);
    font-size: 1rem;
}

.centeredRow{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.centeredColumn{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hidden{
    display: none;
}


/* Header css */
header{
    height: 4rem;
    width: 100%;
    background: rgb(240, 240, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header a{
    margin: 0 2rem;
}

header div{
    max-width: 1000px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header img{
    height: 2.5rem;
    align-self: center;
    justify-self: center;
}

header .button{
    width: 8rem;
    height: 2.5rem;
}


/* Menu css */
.menu{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

nav{
    margin-top: 4rem;
    height: auto;
    width: 18rem;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    transform: translate3d(-20rem, 0, 0);
    transition: all 0.5s;
    padding: 1rem;
}

nav.show{
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
}

.menuButton{
    color: white;
    text-decoration: none;
}

.menuButton:hover{
    text-decoration: underline;
}

.menuButton:active{
    text-shadow: 1px 1px rgba(255,255,255, 0.6);
}

/* Index css */
.index{
    height: 40rem;
    justify-content: space-evenly;
    background-image: url('/media/promo_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.index h1{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Login css & Register css */


/* Home css */
.home{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
} 

.messagesOption{
    padding: 0.5rem 2rem;
    text-decoration: none;
    color: black;
    /* border: rgb(100,100,100) 1px solid; */
}

.messagesOption:hover{
    background: rgb(235,235,235);
}

.active{
    background: rgb(220,220,220);
}

.friends {
    overflow: auto;
    max-height: 75vh;
    width: 25rem;
}

.friend a{
    text-decoration: none;
}

.friend a:hover h2{
    text-decoration: underline;
}

.friend a h2{
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}



/* Conversation css */

.messages{
    width: 25rem;
    overflow: auto;
    max-height: 75vh;
}

.messageDiv{
    width: 100%;
}

.message{
    max-width: 15rem;
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.8rem;
    border: 1px solid rgb(100,100,100);
    padding: 0.4rem;
}

.messageDiv .timestamp{
    display: none;
}

.messageDiv:active .timestamp{
    display: initial;
}

.message p{
    display: inline;
    word-break: break-all;
}

.rightMessage{
    align-self: flex-end;
    background: radial-gradient(rgb(100,100,255), rgb(70,70,230));
}

.leftMessage{
    align-self: flex-start;
    background: radial-gradient(rgb(255,255,255), rgb(220,220,220));
}

.rightMessage p{
    color: rgb(245, 245, 245);
}


/* Searchbar css */
.searchBar{
    margin: 0;
}


.searchBar form button{
    width: 2.4rem;
}

.searchBar form input{
    margin: 0;
}


/* Results css */
.results{
    max-width: 30rem;
}

.resultButtons{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result_buttons button{
    margin: 0 1rem;
}


/* Group css */
.groupOption{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}