body{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

header{
    background: rgb(240, 240, 0);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header img{
    height: 5rem;
    padding: 1rem;
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main div{
    max-width: 1000px;
    width: 100%;
    margin: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index{
    height: 40rem;
    justify-content: space-evenly;
    background-image: url('/media/promo_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.login{
    height: 30rem; 
}

.register{
    height: 40rem;
}

.login form{
    height: 100%;
}

.index h1{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.index_buttons a{
    background-color: rgba(150, 150, 150, 1);
    text-decoration: none;
    color: white;
    border-radius: 999rem;
    padding: 0.4rem;
    margin: 1rem;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.index_buttons a:hover{
    background-color: rgba(0, 0, 255, 1);
}

.index_buttons a:active{
    background-color: rgba(0, 0, 200, 1);
}

footer{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 10rem;
}

a{
    font-family: 'Muli', sans-serif;
    font-size: 1.8rem;
}

p{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

h1{
    font-family: 'Muli', sans-serif;
    font-size: 2.5rem;
}

button{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
}

span{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
}

input{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 1.2rem;
}