/* General css */
body{
    width: 100%;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main div{
    max-width: 1000px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 10rem;
}

a{
    font-family: 'Muli', sans-serif;
    font-size: 1.5rem;
}

p{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    margin: 0;
}

h1{
    font-family: 'Muli', sans-serif;
    font-size: 2.5rem;
}

h2{
    font-family: 'Muli', sans-serif;
    font-size: 1.8rem;
    margin: 0;
}

button{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

span{
    font-family: 'Muli', sans-serif;
    font-size: 1.2rem;
}

input{
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    height: 1.625rem;
}

.space{
    margin: 1rem 0;
}

.button{
    text-decoration: none;
    color: rgb(30, 30, 30);
    border-radius: 999rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover{
    text-decoration: underline;
}

.button:active{
    background: rgba(100,100,100,0.3);
}

.hidden{
    display: none;
}

.timestamp{
    color: rgb(140, 140, 140);
    font-size: 1rem;
}


/* Header css */
header{
    height: 6rem;
    width: 100%;
    background: rgb(240, 240, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
}

header a{
    margin: 0 2rem;
}

header div{
    max-width: 1000px;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    height: 3.5rem;
    align-self: center;
    justify-self: center;
}

header .button{
    width: 8rem;
    height: 2.5rem;
}


/* Menu css */
.menu{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    /* flex-direction: column; */
}

.menuLogo{
    height: 3rem;
}

nav{
    margin-top: 6rem;
    height: auto;
    width: 18rem;
    position: absolute;
    flex-direction: column;
    z-index: 100;
    transform: translate3d(-20rem, 0, 0);
    transition: all 0.5s;
    padding: 1rem;
}

nav.show{
    transform: translate3d(0, 0, 0);
    transition: all 0.5s;
}

.menuButton{
    color: white;
    text-decoration: none;
}

.menuButton:hover{
    text-decoration: underline;
}

/* Index css */
.index{
    height: 40rem;
    justify-content: space-evenly;
    background-image: url('/media/promo_pic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.index h1{
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


/* Login css & Register css */
.login form{
    height: 100%;
}

.login{
    height: 30rem; 
}

.register{
    height: 40rem;
}


/* Home css */
.home{
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.home_button img{
    height: 2.5rem;
    padding: 0.5rem;
}    

aside{
    width: 200px;
}

.friend a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.friend a:hover h2{
    text-decoration: underline;
}

.friend a h2{
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}



/* Conversation css */
.conversation form{
    display: flex;
    flex-direction: row;
    position: sticky;
}

.messages{
    width: 30rem;}

.message{
    max-width: 15rem;
    width: auto;
    height: auto;
    padding: 0.5rem;
}

.message p{
    display: inline;
    word-break: break-all   ;
}

.right_message{
    align-self: flex-end;
    background: radial-gradient(rgb(100,100,255), rgb(70,70,230));
    border-radius: 0.8rem;
    border: 1px solid rgb(100,100,100);
}

.left_message{
    align-self: flex-start;
    background: radial-gradient(rgb(255,255,255), rgb(220,220,220));
    border-radius: 0.8rem;
    border: 1px solid rgb(100,100,100);
}

.right_message p{
    color: rgb(245, 245, 245);
}


/* Searchbar css */
.search_bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    /* position: sticky;
    top: 0; */
}

.search_bar form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search_bar form button{
    width: 2.4rem;
}

.search_bar form input{
    margin: 0;
}


/* Results css */
.results{
    max-width: 500px;
}

.result_buttons{
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.result_buttons button{
    margin: 0 1rem;
}